.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.quiz-container {
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.question-section {
  margin-bottom: 20px;
}

.options-section {
  margin-bottom: 20px;
}

.option-button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option-button:hover {
  background-color: #e0e0e0;
}

.option-button.selected {
  background-color: #d0d0d0;
}

.next-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-button:disabled {
  visibility: hidden;
  cursor: not-allowed;
}

.next-button:hover {
  background-color: #0056b3;
}

.score-section {
  font-size: 24px;
  padding-bottom: 24px;
}




/* Navbar_____________________________________________________________ */
/* Navbar styles */
.navbar-container {
  background: #333;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #fff;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-link {
  margin: 0 15px;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 60px);
    background: #333;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease-in-out;
  }

  .nav-links.open {
    left: 0;
  }

  .hamburger {
    display: block;
  }
}

/* Button styles */
.next-button:disabled {
  opacity: 0.05;
  cursor: not-allowed;
}

/* Navbar_____________________________________________________________ */
